.contact__body {
    background-color: #111827;
    padding-top: 100px;
    padding-bottom: 100px;
    

}
.contact__body span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin: auto;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #374151;
    margin-bottom: 20px;
}
.contact__body p{
    text-align: center;
    opacity: 0.8;
}
.contact__body .contact__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 70px;
    width: 100%;
    max-width: max-content;
    background-color: #1f2937;
    padding: 20px 30px;
    gap: 20px;
    border-radius: 20px;
}
.contact__body .contact__form input,textarea{
    width: 400px;
    padding: 10px 20px;
    border: none;
    background-color: #374151;
    color: #fff;
    border-radius: 10px;
}
.contact__body .contact__form input::placeholder,textarea::placeholder{
    color: #fff;
}
.contact__body .contact__form button{
    border: none;
    padding: 10px;
    background-color: #111827;
    color: #fff;
    border-radius: 10px;
    width: 200px;
    margin-left: auto;
}
.contact__body .contact__form button:hover{
    cursor: pointer;
    scale: 1.05;
}
.contact__body .contact__form input:focus,textarea:focus{
    outline: none;
}


@media screen and (max-width:768px) {
    .contact__body .contact__form input,textarea{
        width: 100%;
    }
}